<link rel="stylesheet" href="../css/footer.css">
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-grid">
                <div class="footer-col">
                    <h3>Gustavo Allende Llavería</h3>
                    <p>Transformando la educación para formar a los líderes del mañana a través de metodologías innovadoras y un enfoque integral.</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/brayan.gore.94/" class="social-link"><i class="fab fa-facebook-f"></i></a>
                         <a href="https://wa.me/51900442538?text=Hola%20quiero%20más%20información." class="social-link"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.facebook.com/brayan.gore.94/" class="social-link"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                
                <div class="footer-col">
                    <h3>Enlaces rápidos</h3>
                    <ul class="footer-links">
                        <li class="nav-item"><a href="../conocenos/quienes-somos.html" class="nav-link">¿Quiénes somos?</a></li>
                        <li class="nav-item"><a href="../conocenos/mision-vision.html" class="nav-link">Misión y Visión</a></li>
                        <li class="nav-item"><a href="../conocoenos/autoridades" class="nav-link">Autoridades</a></li>
                        <li class="nav-item"><a href="../conocenos/aulta-virtual.html" class="nav-link">Aula virtual</a></li>
                        <li class="nav-item"><a href="../conocenos/noticias.html" class="nav-link">Noticias</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h3>Programas</h3>
                    <ul class="footer-links">
                        <li class="nav-item"><a href="../programas/inicial.html" class="nav-link">Educación Inicial</a></li>
                        <li class="nav-item"><a href="/primaria.html" class="nav-link">Educación Primaria</a></li>
                        <li class="nav-item"><a href="/fisica.html" class="nav-link">Educación Física</a></li>
                        <li class="nav-item"><a href="/comunicacion.html" class="nav-link">Comunicación</a></li>

                    </ul>
                </div>
                
                <div class="footer-col">
                    <h3>Contacto</h3>
                    <ul class="footer-links">
                        <li><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps/dir//J886%2BMH2,+Tarma+12650/@-11.3833455,-75.7710265,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x9109204259a10103:0x53872f4614523f87!2m2!1d-75.6886956!2d-11.383562?entry=ttu&g_ep=EgoyMDI1MTAxMy4wIKXMDSoASAFQAw%3D%3D" class=""> Hiroshi Takajashi 162, Pomachaca – Tarma</a></li>
                        <li><i class="fas fa-phone"></i> +51 962 715 297</li>
                        <li><i class="fas fa-envelope"></i> consultas@gall.com</li>
                        <li><i class="fas fa-clock"></i> Lunes - Viernes: 8:30 AM - 2:00 PM</li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2025 forleet - GUSTAVO ALLENDE LLAVERÍA <p> Todos los derechos reservados.</p>
            </div>
        </div>

        <button id="scroll-to-top" class="scroll-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
        
    </footer>